body{

}
#title{
  position:relative;
  top:50px;
  left:120px;
  color:white;
  font-size: 60px;
  z-index: 5
}
#botton{
  position:relative;
  top:1150px;
  z-index: 6
}
#cover{
    position:fixed;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
}

#upper{
    position:relative;
    width: 100%;
    height: 50%;
    top: 0;
}

#lower{
    position:relative;
    width: 100%;
    height: 50%;
    bottom: 0;
}
.leftbutton{
    position:relative;
    left:375px;
    width: 100px;
    height:40px;
    font-size: 20px;
}
.rightbutton{
    position:relative;
    left:475px;
    width: 100px;
    height:40px;
    font-size: 20px;
}
.star-md{
    width: 3px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 50% 50%;
    position: absolute;
}
.star-lg{
    width: 5px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 50% 50%;
    position: absolute;
}


.back{
    position: absolute;
    top: 240px;
    left: 100px;
    transform: rotate(-7deg);
}

.front{
    position: absolute;
    top: 200px;
    left: 55px;
    transition: all 1s ease;
}

.loaded{
  animation: loading 0.6s 1 ease-out alternate;
  background: black;
  background: -webkit-linear-gradient(bottom,rgba(10,20,20,1),rgba(0,16,54,0.9));
  background: -o-linear-gradient(bottom,rgba(10,20,20,1),rgba(0,16,54,0.9));
  background: -moz-linear-gradient(bottom,rgba(10,20,20,1),rgba(0,16,54,0.9));
  background: linear-gradient(to bottom,rgba(10,20,20,1),rgba(0,16,54,0.9));
}

@keyframes loading {
    0%{
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}
