body{

}
#box{
  position: absolute;
  left:50%;
  width: 1010px;
  height: 2000px;
  transform:translate(-50%);
  z-index: 9
}
#title{
  position:absolute;
  top:10%;
  left:50%;
  width:880px;
  color:white;
  font-size: 60px;
  transform:translate(-50%);
  z-index: 5
}
#button{
  position:absolute;
  top:1390px;
  width: 1010px;
  height: 40px;
  z-index: 8
}
#cover{
    position:fixed;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
}

#upper{
    position:relative;
    width: 100%;
    height: 50%;
    top: 0;
}

#lower{
    position:relative;
    width: 100%;
    height: 50%;
    bottom: 0;
}
.leftbutton{
    position:absolute;
    left:260px;
    width: 100px;
    height:40px;
    font-size: 20px;
}
.rightbutton{
    position:absolute;
    left:630px;
    width: 100px;
    height:40px;
    font-size: 20px;
}
.star-md{
    width: 3px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 50% 50%;
    position: absolute;
}
.star-lg{
    width: 5px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 50% 50%;
    position: absolute;
}

#image{
      position: absolute;
      top:22.5%;
      left:21.3%;
      width: 1010px;
      height: 1010px;

}

.back{
      position: absolute;
      top: 19.2%;
      left: 4.2%;
      transform: rotate(-0.5deg);
      z-index: 7
}

.front{
      position: absolute;
      top: 17%;
      left: 0%;
      z-index: 7;
      transition: all 1s ease;

}

.loaded{
  animation: loading 0.6s 1 ease-out alternate;
  background: black;
  background: -webkit-linear-gradient(bottom,rgba(10,20,20,1),rgba(0,16,54,0.9));
  background: -o-linear-gradient(bottom,rgba(10,20,20,1),rgba(0,16,54,0.9));
  background: -moz-linear-gradient(bottom,rgba(10,20,20,1),rgba(0,16,54,0.9));
  background: linear-gradient(to bottom,rgba(10,20,20,1),rgba(0,16,54,0.9));
}

@keyframes loading {
    0%{
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}
